header{
    background-color: rgb(49, 118, 254);
}
body{
    background-image:url(images/aspot-desktop-1923x1302-344457937\ 1.png) ;
}
p{
    color: cadetblue;
    font-size: 42px;
}
.logo_site{
   width: 10px;
   height: 5px;
}
section{
    color: cadetblue;
    font-size: 42px;
}
footer{
    color:aliceblue;
}